@import "../../../assets/css/base.scss";
html,body{-webkit-text-size-adjust: 100%;-webkit-tap-highlight-color: rgba(0, 0, 0, 0);}

@mixin full{
  left:0;
  top:0;
  width:100%;
  height: 100%;
}

.index-main-ui{
  @include transform3d(400px);
  box-sizing:border-box;

  overflow: hidden;
  .index-bg{
  
    img{
      width: auto;
      height: 100%;
    }  
    @include pos(a);
    right: 0;
    &.time{
    	@include transition(7s linear);
    }
    &.active{
      
      @include transform(translate3d(9rem,0,0));
    }
      
  }

  .index-text{
    @include pos(a);
    width:3.8rem;
    top: 4rem;
    right: 0px;
    font-size: 16px;
    color:#b47e4c;
    letter-spacing: 4px;

    &.hide{
      @include transition(1s 1s);
      opacity:0;
    }
  }

   .index-text{
    opacity:0;
    @include transition(1s 1s);
    &.active{
        opacity:1;
    }
  }

  @at-root.index-text1,.index-text2{
    text-indent: 2em;
     @include transition(2s);
    opacity:0;
    &.show{
      opacity:1;
    }
    width:8rem;
    @include pos(a);
    left: 1rem;
    font-size: 16px;
    color:#b47e4c;
    top: 4rem;
    line-height: 30px;
  }



  .index-text2{
    top: 9rem;
    @include transition(2s 2s);
    @include transform(translate3d(0,1rem,0));
    opacity:0;
    z-index: 9;
    &.show{
      opacity:0;
      @include transform(translate3d(0,0,0));
    }
  }

  .zmiti-entry-sea{
      @include pos(a);
      bottom: 1rem;
      width:4.5rem;
      left: 1rem;
      z-index: 10;
  }

  .zmiti-begin{
    @include pos(a);
    bottom: 1rem;
    width:3rem;
    right: 1rem;
    z-index: 10;
  }
  .zmiti-camel{
    width: 10rem;
    @include pos(a);
    bottom:18vh;
    right: 0;
    z-index: 10;
    @include transform(translate3d(9rem,0,0));
    
    @include transformOrigin(center 10%);
    &.duration{
      @include transition_transform(6s linear);
    }
    &.active{
      @include transform(translate3d(0,0,0));
    }
    img{
      display: inline;
      &:first-of-type{
        width: 3.3rem;
      }
      width: 3.3rem;

      &.zmiti-good{
        @include pos(a);
        left:50%;
        top: .2rem;
        z-index: 10;
        width: .6rem;
      }

    }
  }

  .zmiti-change{

    &.hide{
      @include transition(1s 1s);
      opacity:0;
    }

    @include pos(r);
    left: 50%;
    img{
      &.active{
      	@include transition(2s 1s);
      	opacity:1;
      }
      opacity:0;
      width: 100%;
      height: auto;
      
    }
    width:6rem;
    margin-left: -4rem;
    top:3vh;
  }

  @include pos(a);
  @include full();
  
}