@import "../../../assets/css/base.scss";
html,body{-webkit-text-size-adjust: 100%;-webkit-tap-highlight-color: rgba(0, 0, 0, 0);}

@mixin full{
  left:0;
  top:0;
  width:100%;
  height: 100%;
}

.index-main-ui{
  @include transform3d(400px);
  box-sizing:border-box;

  overflow: hidden;
  .index-bg{

    
  
    img{
      width: auto;
      height: 100%;
    }  
    @include pos(a);
    right: 0;

    
      
  }
  .zmiti-camel{
    width: 10rem;
    @include pos(a);
    bottom:18vh;
    right: 0;
    z-index: 10;
    @include transform(translate3d(6rem,0,0));
    
    @include transformOrigin(center 30%);
    &.duration{
      @include transition_transform(3s linear);
    }
    &.active{
      @include transform(translate3d(0,0,0));
    }
    img{
      display: inline;
      &:first-of-type{
        width: 3.3rem;
      }
      width: 3.3rem;

      &.zmiti-good{
        @include pos(a);
        left:50%;
        top: .2rem;
        z-index: 10;
        width: .6rem;
      }

    }
  }

  .zmiti-change{

    @include pos(r);
    left: 50%;
    img{
      opacity:0;
      width: 100%;
      height: auto;
      
    }
    width:6rem;
    margin-left: -4rem;
    top:3vh;
  }

  @include pos(a);
  @include full();
  
}