@import "../../../assets/css/base.scss";

.zmiti-train-main-ui{
  width:100%;
  height: 100%;
  @include pos(a);
  left: 0;
  top: 0;
  z-index: 0;
  overflow: hidden;

  $toTopTime:2s;
  .zmiti-top-C{

    height: 100%;
    width: 100%;
    @include pos(a);
    top: 22%;

    @include transform(translate3d(0,0,400px));

   
    &.active{
      @include transition($toTopTime linear);
      @include transform(translate3d(0,0,0));   

       .zmiti-train-city{
        width: 30rem;
        margin-top: -1rem;
        @include animation(cityMove1 6s linear infinite);
      }   
    }
     

     &.stop{
       .zmiti-train-city,.zmiti-train-cloud{
        @include animation(none);
      } 

      .zmiti-train-city{
        @include transition(none);
        @include transform(translate3d(4rem,0,0));
      }
    }
   
  }
  @include transform3d(32rem);
  .zmiti-train-C{
    width: 20.2rem;
    box-sizing:border-box;
    border:1px solid transparent;
    overflow: hidden;
    margin-left: -5rem;

    &.active{
     
      @include transform(translate3d(0, 0, 0));
      opacity:1;
     

    }

    &.toTop{
      // top:14vh;
       @include transform(translate3d(0,-9rem,-800px));  
       -webkit-transition:$toTopTime -webkit-transform linear,$toTopTime top linear;
       transition:$toTopTime transform linear,$toTopTime top linear;


       
    }

    &.stop{
      .zmiti-train-road{
        @include animation(none);
      }
    }

    img{
      width: 13rem;
      @include transform(translate3d(6rem,-12px,0));
    }

   
    height: 1.6rem;
     -webkit-transition:9s -webkit-transform ;
    transition:9s transform ;
    @include transform(translate3d(-0.765rem, -0.05rem, 31.5rem));
    @include pos(a);
    top: 47%;
    z-index: 100;
    .zmiti-train-road{
      @include animation(roadMove  3s linear infinite);
      z-index: 10;
      width: 30rem;
      height: 14px;
      @include pos(a);
      bottom: 0;
      right: 0;
    }
  }

  .zmiti-train-cloud{
    @include pos(a);
    width: 10rem;
    top: -10vh;
    @include transform(translate3d(-100%,0,0));
    @include animation(cloudMove 6s linear infinite);
  }
  .zmiti-train-city{
    @include pos(a);
    width: 35rem;
    top: 1vh;
    z-index: 100;
    right: 0;
    @include transition(.5s);
   @include animation(cityMove 3s linear infinite);
  }

  @include displayBox(vertical);

  .zmiti-train-item{
    
    &.active{
      display: block;
    }
    &.zmiti-train-text{
      display: block;

      height: 10vh;
      &>section{
        @include displayBox(vertical);
        text-indent: 2em;
        font-size: 14px;
        width: 8.2rem;  
        height:6rem;
        margin: 0 auto;
        opacity:0;
        @include transform(translate3d(0,5rem,0));
        &.active{
          @include transition(2s);
          opacity:1;
          @include transform(translate3d(0,0,0));
        }
      }
      div{
        width: 100%;
        -webkit-box-flex:1;
        line-height: 24px;
      }

    }
    width: 10rem;


    
    
    -webkit-box-flex:1;
    @include pos(r);
    .zmiti-logo-train-bg{
      @include pos(a);
      bottom: 0;
    }
    .zmiti-logo{
      width: 4rem;
      text-align: center;
      img{
        width:3rem;
        display: block;;
        margin: 0 auto 10px;
      }
      @include pos(a);
      
      left: 3rem;
      top: 2rem;
      font-size: 12px;
    }
    &:last-of-type{
      -webkit-box-flex:1;
      .zmiti-train-share{
        opacity:0;
        @include transform(translate3d(0,6rem,0));
        @include transition(1s);
        &.active{
          @include transform(translate3d(0,0,0));
          opacity:1;
        }
      }
    }
    .zmiti-searoad-btn{
      @include pos(a);
      top: 0;
      width:4rem;
      left: 1rem;
    }
    .zmiti-share{
     @include pos(a);
      top: -.1rem;
      width:2.8rem;
      right: 1rem;
    }
  }

  @at-root.zmiti-mask{

    @include pos(f);
    width:100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 1000;
    
  }
}

@-webkit-keyframes roadMove{
   from {
     @include transform(translate3d(0,0,0));
   }
   to {
      @include transform(translate3d(10rem,0,0));
   }
 }

@-webkit-keyframes cloudMove{
   from {
     @include transform(translate3d(-10rem,0,0));
   }
   to {
      @include transform(translate3d(10rem,0,0));
   }
 }

 @-webkit-keyframes cityMove{
   
   to {
      @include transform(translate3d(12.5rem,0,0));
   }
 }


 @-webkit-keyframes cityMove1{
   from{
    @include transform(translate3d(4rem,0,0));
   }
   to {
      @include transform(translate3d(16rem,0,0));
   }
 }
